 .partnerlogo
{

 content: url(https://eo4geo.sbg.ac.at/UPAT/Early_warning_for_disease_epidemics_at_regional_level/resources/partnerLogo.jpg);
top:0;
  background: #fff;
  background-color: #fff; 
  height: 100%;
  width: 100%;
  
  	z-index: -1;
  position: absolute;
        top: 0%;
        right: 0%;
 
 
	justify-content: left;

}